.Key {
	display: flex;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	align-items: center;
	justify-content: center;
	margin: 7px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 20px;
}

.Key:hover {
	background-color: #d68e00;
	color: black;
	cursor: pointer;
}

.KeySelected {
	display: flex;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	align-items: center;
	justify-content: center;
	margin: 7px;
	background-color: gray;
	color: darkgray;
	border-radius: 5px;
	font-weight: bold;
	font-size: 20px;
}
