.MainDiv {
	position: relative;
	display: flex;
	justify-content: center;
}

.LetterDiv {
	display: flex;
	position: absolute;
	z-index: 0;
	bottom: 10%;
	flex-direction: row;
}

.KeypadDiv {
	display: flex;
	position: absolute;
	z-index: 0;
	right: 10%;
	top: 20%;
/*	background-color: #4f332d;
	border: 1px solid black;
	border-radius: 5px;*/
}

