.MainDiv {
	position: relative;
	display: flex;
	justify-content: center;
}

.LetterDiv {
	display: flex;
	position: absolute;
	z-index: 0;
	bottom: 15%;
	flex-direction: row;
}

.KeypadDiv {
	display: flex;
	position: absolute;
	z-index: 0;
	bottom: 7%;
}

.FigureDiv {
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 0;
	top: 2%;
}

