.FigureDiv {
	background-color: green;
	padding-top: 3px;
	border-radius: 5px;
	margin: 0px 5px;
}

.MissedFigureDiv {
	background-color: red;
	padding-top: 3px;
	border-radius: 5px;
	margin: 0px 5px;
}

.LosingCondition {
	padding-top: 3px;
	margin: 0px 5px;
}

.Figure {
	width: 40px;
}

