.Message {
	font-family: 'Tangerine', cursive;
	font-size: 25px;
}

.MessageDiv {
	background-color: #ffefcb;
	padding: 20px;
	border: #705648 solid 4px;
}

.Button {
	cursor: pointer;
	background-color: #705648;
	color: #ffefcb;
	font-size: 20px;
	border: black solid 1px;
}

.Button:hover {
	color: gold;
}
